@model Habit_Buddies.Data.Entities.Habit

@{
    ViewData["Title"] = "Details";
}

<h2 class="details">Habit Details</h2> @*Add styling => shadow & colour to the heading*@

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        @*UserId is hidden because there is no need for the current User to see his ID there, its obvious it's his UserId*@

        <dt hidden class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd hidden class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>

        @*End of hidden User*@

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
        <dt hidden class="col-sm-2">
            @Html.DisplayNameFor(model => model.AllDay)
        </dt>
        <dd hidden class="col-sm-10">
            @Html.DisplayFor(model => model.AllDay)
        </dd>
        <form method="post" action="/Habits/CompleteToday">
            <input type="hidden" name="habitId" value="@Model.HabitId" />
            <input type="hidden" name="userId" value="@Model.UserId" />
            @if (!Model.IsCompletedToday)
            {
                <button type="submit" class="btn btn-outline-secondary mt-1">Complete for the day</button>
            }
        </form>
        <form method="post" action="/Habits/Complete">
            <input type="hidden" name="habitId" value="@Model.HabitId" />
            <input type="hidden" name="userId" value="@Model.UserId" />
            @if (Model.PercentageCompleted >= 100)
            {
                <button type="submit" class="btn btn-outline-secondary mt-1">Mark as completed</button> @*button to change, edit the completion of the Habit, ask Kosta bout this, why not in Edit*@
            }
            
        </form>
    </dl>
</div>
<div class="progress mb-3">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: @Model.PercentageCompleted%;"></div>
</div>
<div>
    @* adding style to these two buttons*@
    <a asp-action="Edit" asp-route-id="@Model?.HabitId" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
