@model IEnumerable<Habit_Buddies.Data.Entities.Habit>

@{
    ViewData["Title"] = "Index";
}

<h2>Your Habit List :)</h2>

<button type="button" class="btn btn-outline-secondary my-2 btn-sm" onclick="location.href='@Url.Action("Create","Habits")'">
    <i class="bi bi-plus-square"></i>  CREATE NEW HABIT
</button>

<div class="table-responsive mt-2">
<table class="table table-hover table-bordered"> 
    <thead class="thread-color">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.User)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.AllDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="@(item.IsCompleted ? "background-color: #ccffdd;" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.AllDay)
            </td>
            <td class="crud">   
                 <a asp-action="Edit" asp-route-id="@item.HabitId" class="btn btn-outline-secondary btn-sm"> <i class="bi bi-pencil-square"></i></a>
                 <a asp-action="Details" asp-route-id="@item.HabitId" class="btn btn-outline-secondary btn-sm"> <i class="bi bi-info-square"></i></a>
                 <a asp-action="Delete" asp-route-id="@item.HabitId" class="btn btn-outline-secondary btn-sm"><i class="bi bi-trash3"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
