@model Habit_Buddies.Data.Entities.Notification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habit.HabitId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NotificationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
